body {
  background-color: #000;
  color: white;
  font-family: 'Nunito', sans-serif;
}

/*font-family: 'Kumar One', cursive;
font-family: 'Nunito', sans-serif;*/
/*font-family: 'Codystar', cursive;
font-family: 'Rye', cursive;
font-family: 'Vampiro One', cursive;*/


.hero {
  background-image: url('./imgs/bokeh.jpg');
  background-attachment: fixed;
  height: 350px;
  margin-top: 0;
  text-align: center;
}

.sparkles p {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: black;
  text-shadow: 3px 3px 5px #5571a7;
}

h1 {
  color: black;
  padding-top: 70px;
  text-shadow: 3px 3px 3px #f6f1f1;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-size: 100px;
  font-family: 'Vampiro One', cursive;
}

h2, h3, h4 {
  text-align: right;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

nav {
  height: 200px;
  width: 50px;
  position: absolute;
  background-color: white;
  top: 250px;
  color: black;
  border-radius: 3px;
}

nav ol li {
  padding: 10px;
}

.skills {
  background-image: url('./imgs/holo1.jpg');
  background-size: cover;
  height: 400px;
}

.edu {
  background-image: url('./imgs/holo2.jpg');
  background-size: cover;
  height: 400px;
}

p {
  text-indent: 30px;
  padding: 20px;
}
